body {
    background-image:  url("imagenes/fondo_une.jpg");
     font-family: Arial, Helvetica, sans-serif;
}
form {
    border: 3px solid #f1f1f1;
}
body {
    color: darkgreen;
}
input[type=text], input[type=number] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=time] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: teal;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid black;
    cursor: pointer;
    width: 100%;
    box-align: middle;
}
input[type=button] {
    background-color: teal;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid black;
    cursor: pointer;
    width: 95 px;
    box-align: middle;
}
input[type=date] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: teal;
    color: black;
    padding: 14px 28px;
    margin: 8px 0;
    border: 3px solid black;
    cursor: pointer;
    width: 100%;
    box-align: middle;
}
button:hover {
    opacity: .8;
}
input[type=button]:hover {
    opacity: .8;
}
#formularionuevaclase {
    display: none;
}