button,
input[type=button],
input[type=submit] {
    background-color: teal;
    color: #000;
    margin: 8px 0;
    border: 3px solid #000;
    cursor: pointer
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    background-image: url(imagenes/fondo_une.jpg)
}

form {
    border: 3px solid lightgray;
    margin: 0 auto; 
    width: 400px;
}

input[type=number],
input[type=time],
select {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #000;
    box-sizing: border-box
}


input[type=submit] {
    padding: 14px 20px;
    width: 100px;
    box-align: middle
}

input[type=button] {
    padding: 14px 20px;
    width: 100 px;
    box-align: middle
}

button {
    padding: 14px 28px;
    width: 100px;
    box-align: middle
}

button:hover,
input[type=button]:hover {
    opacity: .8
}

#formularionuevaclase,
#tat {
    display: none
}