#caplock{
    display:none
  }
  
  form {
      border: 3px solid lightgrey;
      margin: 0 auto; 
      width: 350px;
  }
  
  input[type=password], input[type=text] {
      width: 55%;
      padding: 12px 20px;
      margin: auto;
      display: inline-block;
      border: 3px solid #000;
      box-sizing: border-box;
  }
  
  button, input[type=submit] {
      margin: 8px 40%;
      cursor: pointer;
      background-color: teal;
      width: 100px;
      float: center;
  }
  
  body {
      font-family: Arial, Helvetica, sans-serif;
      color: teal;
      padding: 0;
  }
  
  input[type=submit] {
      padding: 14px 20px;
      border: 3px solid #000;
  }
  
  button:hover, input[type=submit]:hover {
      opacity: .8;
  }
  
  button {
      padding: 14px 28px;
      border: none;
      border: 3px solid #000;
  }
  
  .cancelbtn {
      width: 112px;
      
  }
  
  span.psw {
      float: right;
      padding-top: 16px;
  }
  
  @media screen and (max-width:300px) {
      span.psw {
      display: block;
      float: none;
  }
  }