button, input[type=submit] {
    color: #000;
    margin: 8px 40%;
    cursor: pointer;
    background-color: teal;
}

.cancelbtn, button, input[type=submit] {
    background-color: teal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    padding: 0;
    margin: 0;
    background-image: url(imagenes/fondo_une.jpg);
}

form {
    border: 3px solid lightgrey;
    margin: 0 auto; 
    width: 100%;
}

input[type=email], input[type=number], input[type=password], input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #000;
  box-sizing: border-box;
}

input[type=submit] {
    padding: 14px 20px;
    border: 3px solid #000;
    width: 100px;
}

button:hover, input[type=submit]:hover {
    opacity: .8;
}

button {
    padding: 14px 28px;
    border: none;
    border: 3px solid #000;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

#caplock {
    display: none;
}

@media screen and (max-width:800px) {
    span.psw {
    display: block;
    float: none;
}

input[type=email], input[type=number], input[type=password], input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #000;
    box-sizing: border-box;
  }

.cancelbtn {
    width: 100%
}
}